.formContainer {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 90%;
}

.loginBanner {
  width: 100% !important;
  height: auto;
  object-fit: cover;
}

.loginButton {
  font-weight: 300;
  padding: 5px;
  width: 100%;
  background-color: #bc8a4a !important;
}
